{% set product_gallery_classes = 'product-gallery' %}

{% set products_images_classes = product_gallery_classes ~ '__images' %}

{% set products_names_classes = product_gallery_classes ~ '__names' %}

{% set products_descriptions_classes = product_gallery_classes ~ '__descriptions' %}

{% if label_hidden %}
	<div {{ attributes.addClass(product_gallery_classes) }}>
		<div class={{ products_images_classes }}>
			{% for item in items %}
				{% set product_classes = 'product-image' %}

				{% if loop.index == 1 %}
					{% set product_classes = product_classes ~ '__active' %}
				{% endif %}

				{% set field_media_image = item.content['#paragraph'].field_product_photo.entity.field_media_image %}
				{{ drupal_image(field_media_image.entity.id,'', { alt: field_media_image.alt | t, class: product_classes }) }}

			{% endfor %}
		</div>

		<div class={{ products_names_classes }}>
			{% for item in items %}
				{% set product_classes = 'product-name' %}

				{% if loop.index == 1 %}
					{% set product_classes = product_classes ~ '__active' %}
				{% endif %}

				{% set field_product_name = item.content['#paragraph'].field_product_name.value %}
				<h2 class={{ product_classes }}>
					{{ field_product_name }}
				</h2>
			{% endfor %}
		</div>

		<div class={{ products_descriptions_classes }}>
			{% for item in items %}
				{% set product_classes = 'product-description' %}

				{% if loop.index == 1 %}
					{% set product_classes = product_classes ~ '__active' %}
				{% endif %}

				{% set field_product_description = item.content['#paragraph'].field_product_description.value %}
				<div class={{ product_classes }}>
					{{ field_product_description | raw }}
				</div>
			{% endfor %}
		</div>

	</div>
{% else %}
	<div {{ attributes.addClass(product_gallery_classes) }}>
		{%
			set title_classes = [
				'field__label',
				label_display == 'visually_hidden' ? 'visually-hidden',
			]
		%}

		<div{{title_attributes.addClass(title_classes)}}>{{ label }}</div>
		<div class={{ products_images_classes }}>
			{% for item in items %}
				{% set product_classes = 'product-image' %}

				{% if loop.index == 1 %}
					{% set product_classes = product_classes ~ '__active' %}
				{% endif %}

				{% set field_media_image = item.content['#paragraph'].field_product_photo.entity.field_media_image %}
				{{ drupal_image(field_media_image.entity.id,'', { alt: field_media_image.alt | t, class: product_classes }) }}

			{% endfor %}
		</div>

		<div class={{ products_names_classes }}>
			{% for item in items %}
				{% set product_classes = 'product-name' %}

				{% if loop.index == 1 %}
					{% set product_classes = product_classes ~ '__active' %}
				{% endif %}

				{% set field_product_name = item.content['#paragraph'].field_product_name.value %}
				<h2 class={{ product_classes }}>
					{{ field_product_name }}
				</h2>
			{% endfor %}
		</div>

		<div class={{ products_descriptions_classes }}>
			{% for item in items %}
				{% set product_classes = 'product-description' %}

				{% if loop.index == 1 %}
					{% set product_classes = product_classes ~ '__active' %}
				{% endif %}

				{% set field_product_description = item.content['#paragraph'].field_product_description.value %}
				<div class={{ product_classes }}>
					{{ field_product_description | raw }}
				</div>
			{% endfor %}
		</div>

	</div>
{% endif %}
