{% if title %}
	<h2>{{ title }}</h2>
{% endif %}
{% if partners_image %}
	<div class="partners-images">
		{% for partner_image in partners_image %}
			{% if partner_image %}
				{{ drupal_entity("media", partner_image) }}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
{% if privacy_policy_address %}
	<a href="{{ privacy_policy_address }}">{{ "Privacy policy" | t }}</a>
{% endif %}
<p class='copy'>{{ 'now' | date('Y') }}&copy;visualize.pl</p>