{{ attach_library('visualize/full-page') }}

<div id="fullpage">
	{% for item in items %}
		{% if loop.index < items | length %}
			<div{{item.attributes.addClass('field__item','section')}}>
				{{ item.content }}
			</div>
		{% else %}
			<div{{item.attributes.addClass('section','fp-auto-height','inside-scrollable')}}>
				{{ item.content }}
			</div>
		{% endif %}
	{% endfor %}
	{% set footer_block = drupal_entity('block', 'visualize_footer_with_partners') %}
	{% if footer_block is not empty %}
		<footer class="section fp-auto-height">
			{{ drupal_entity('block', 'visualize_footer_with_partners') }}
		</footer>
	{% endif %}
</div>
