<button class="send-icon" type="button" title={{"Contact&nbsp;us" | t}}>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 60" xml:space="preserve">
		<circle cx="30" cy="30" r="29"/>
		<path d="m13.4 31 8.4 3.1 1 10.4 5.2-7.3 7.3 7.3 7.3-29.2L13.4 31zm20.7 8.9L28.3 34l8.1-11.3-12.7 9.7-4.8-1.7 20.5-11-5.3 20.2z"/>
	</svg>
</button>
<div id="project-contact-body" class="hidden">
	<button id="project-contact-close-btn" class="close-button" type="button" title="{{ "Close" | t }}">
		&#x2715
	</button>
	<h2 class="welcome-message">{{ welcome_message | raw }}</h2>
	{% if background_media %}
		{{ drupal_entity("media", background_media) }}
	{% endif %}
	<div class='project-contact-form-wrapper'>
		{{ drupal_entity_form('contact_message', values={contact_form: 'project_contact'}) }}
	</div>
</div>
